*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
    border-radius: 10px;
    color:darkgoldenrod;
    transition: background-color 0.3s;
}
#reset {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}
#newGame {
    padding: 10px 20px;
    margin-left: 90px;
    margin-top: -62px;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: darkgoldenrod;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}
#message {
    margin-top: 10px;
    font-size: 1.2em;
    color: #919117;;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #aaa;
}
.win{
    text-align: center;
    margin-bottom: 20px;
}
.hide{
    display: none;
}